.home_page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top span {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}

.container .category_top a {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
}

.container .category_top a:hover {
  border-bottom: 2px solid #041e42;
}

/* PAGINATION */

.container .pagination_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagination_box .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .pagination_main img {
  cursor: pointer;
}

.container .pagination_main .pagination_dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
}

.container .pagination_dot .dot.active {
  border: 2px solid rgba(17, 33, 55, 1);
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background: rgba(17, 33, 55, 1);
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  position: relative;
  padding: 15px;
  width: 826px;
  height: 508px;
  background-color: rgba(0, 83, 246, 1);
  background-image: url(../images/icons/header_bg.svg);
  border-radius: 5px;
}
.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.header_frame .header_content span {
  margin-top: 10px;
  width: 405px;
  height: 152px;

  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 60px;
  font-weight: 500;
  line-height: 87px;
}

.header_frame .header_content p {
  margin-top: 10px;

  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
}
.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(255, 255, 255, 1);

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
  bottom: 55px;
}

.header_frame .container .header_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .header_right .header_box {
  margin-left: 25px;
  width: 400px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 5px;
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .box_left span {
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  color: #0053f6;
}

.header_frame .box_left p {
  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;

  color: #041e42;
}

.header_frame .box_left a {
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  color: #041e42;
}

.header_frame .box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 3px;

  background: #041e42;
}

.header_frame .header_box .box_right {
  width: 50%;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}

.header_frame .box_left .hover_borderr {
  margin-top: 3px;
  width: 120px;
  height: 3px;

  background: #041e42;
}

/* SERVISE */
.home_page .servise_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.servise_frame .container {
  flex-direction: row;
  justify-content:;
}

.servise_frame .container .servise_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #eaeaea;
}

.servise_frame .servise_box img {
  width: 35px;
  height: 35px;
}

.servise_frame .servise_box .servise_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.servise_frame .servise_content span {
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  color: #041e42;
}

.servise_frame .servise_content p {
  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  color: #626974;
}

/* SHOP CATEGORY */
.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
}
.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 150px;
}

.shop_category_frame .category_box span {
  margin-top: 15px;
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;

  color: rgba(4, 30, 66, 1);
}

/* SELLING PRODUCT */
.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_product_frame .container {
  flex-direction: column;
}

.selling_product_frame .container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_product_frame .product_wrapper .next_prev_box {
  width: 25px;
  cursor: pointer;
}

.selling_product_frame .next_prev_box img {
  position: absolute;
  top: 50%;
}

.selling_product_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1280px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.selling_product_frame .product_boxes .product_box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.selling_product_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
}

.selling_product_frame .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selling_product_frame .hover_box button {
  margin-bottom: 10px;
  width: 262.13px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;

  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);

  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.selling_product_frame .product_img_box:hover .hover_box {
  display: flex;
}

.selling_product_frame .product_box .product_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.selling_product_frame .product_content_box .product_title {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.selling_product_frame .product_content_box .product_desc {
  margin-top: 7px;
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;

  color: rgba(4, 30, 66, 1);
}

.selling_product_frame .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .review_box img {
  margin-left: 5px;
}

.selling_product_frame .review_box span {
  margin-left: 10px;
  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;

  color: rgba(98, 105, 116, 1);
}
.selling_product_frame .product_content_box .price_box {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .price_box strong {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.selling_product_frame .price_box span {
  margin-left: 10px;
  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;

  color: rgba(98, 105, 116, 1);
}

.home_page .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(0, 83, 246, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;

  border-radius: 6px;
  background: rgba(229, 237, 255, 1);
}
