.home_page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top span {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}

.container .category_top a {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
}

.container .category_top a:hover {
  border-bottom: 2px solid #041e42;
}

/* PAGINATION */

.container .pagination_box {
  margin-top: 50px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagination_box .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .pagination_main img {
  cursor: pointer;
}

.container .pagination_main .pagination_dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
}

.container .pagination_dot .dot.active {
  border: 2px solid rgba(17, 33, 55, 1);
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(17, 33, 55, 1);
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  position: relative;
  padding: 15px;
  width: 826px;
  height: 508px;
  background-color: rgba(0, 83, 246, 1);
  background-image: url(../images/icons/header_bg.svg);
  border-radius: 5px;
}
.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.header_frame .header_content span {
  margin-top: 10px;
  width: 405px;
  height: 152px;

  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 60px;
  font-weight: 500;
  line-height: 87px;
}

.header_frame .header_content p {
  margin-top: 10px;

  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
}
.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(255, 255, 255, 1);

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
  bottom: 55px;
}

.header_frame .container .header_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .header_right .header_box {
  margin-left: 25px;
  width: 400px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 5px;
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .box_left span {
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  color: #0053f6;
}

.header_frame .box_left p {
  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;

  color: #041e42;
}

.header_frame .box_left a {
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  color: #041e42;
}

.header_frame .box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 3px;

  background: #041e42;
}

.header_frame .header_box .box_right {
  width: 50%;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}

.header_frame .box_left .hover_borderr {
  margin-top: 3px;
  width: 120px;
  height: 3px;

  background: #041e42;
}

/* SERVISE */
.home_page .servise_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.servise_frame .container {
  flex-direction: row;
}

.servise_frame .container .servise_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #eaeaea;
}

.servise_frame .servise_box img {
  width: 35px;
  height: 35px;
}

.servise_frame .servise_box .servise_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.servise_frame .servise_content span {
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  color: #041e42;
}

.servise_frame .servise_content p {
  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  color: #626974;
}

/* SHOP CATEGORY */
.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
}
.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 150px;
}

.shop_category_frame .category_box span {
  margin-top: 15px;
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;

  color: rgba(4, 30, 66, 1);
}

/* SELLING PRODUCT */
.selling_product_frame {
  width: 100%;
  height: auto;
  margin-top: 60px;
  position: relative;

  display: flex;
  justify-content: center;
}
.selling_product_frame .container {
  flex-direction: column;
}

.selling_product_frame .product_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
}

.selling_product_frame .product_wrapper .next_prev_box {
  width: 25px;
}

.selling_product_frame .product_wrapper .next_prev_box img {
  position: absolute;
  top: 50%;
}

.selling_product_frame .product_boxs {
  width: 1280px;
  height: 452px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.selling_product_frame .product_box {
  width: 306px;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.selling_product_frame .product_box .product_img {
  width: 100%;
  height: 280px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.selling_product_frame .product_box .product_img .hover_box {
  display: none;

  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selling_product_frame .product_box .product_img .hover_box button {
  width: 100%;
  height: 52px;
  margin-bottom: 10px;
  border: 0;
  outline: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);

  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.selling_product_frame .product_box .product_img:hover .hover_box {
  display: flex;
}

.selling_product_frame .product_content {
  margin-top: 7px;
  padding: 10px;
  background: white;
}

.selling_product_frame .product_content .product_title {
  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  color: rgba(98, 105, 116, 1);
}

.selling_product_frame .product_content .product_desc {
  margin-top: 7px;
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.selling_product_frame .review_box {
  margin-top: 13px;
}

.selling_product_frame .review_box img {
  margin-right: 5px;
}

.selling_product_frame .review_box span {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.selling_product_frame .product_content .price_box strong {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.selling_product_frame .product_content .price_box span {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}

.adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;

  justify-content: center;
  align-items: center;

  color: rgba(0, 83, 246, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;

  border-radius: 6px;
  background: rgba(229, 237, 255, 1);
}

/* SPEC PRODUCT */

.spec_product_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.spec_product_frame .container {
  flex-direction: column;
}

.spec_product_frame .spec_product_wrapper {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.spec_product_frame .big_product_box {
  width: 664px;
  height: 368px;

  display: flex;
  flex-direction: row;

  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
}

.spec_product_frame .big_product_box div {
  width: 50%;
  height: auto;
  margin: 0px 0px 40px 46px;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.spec_product_frame .big_product_box span {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.spec_product_frame .big_product_box p {
  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;

  color: rgba(4, 30, 66, 1);
}

.spec_product_frame .big_product_box a {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.spec_product_frame .big_product_box a:hover {
  width: 70px;
  border-bottom: 2px solid #041e42;
}

.spec_product_frame .big_product_box img {
  width: 50%;
  padding: 30px;
}

.spec_product_frame .small_product_box {
  display: flex;
  flex-direction: column;
}

.spec_product_frame .small_top {
  display: flex;
}

.spec_product_frame .small_top .content {
  width: 293px;
  height: 170px;
  margin-left: 32px;

  display: flex;
  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
}

.spec_product_frame .small_top .content_left {
  width: 50%;
  padding: 30px 0 89px 35px;
}

.spec_product_frame .small_product_box span {
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;

  color: rgba(4, 30, 66, 1);
}

.spec_product_frame .small_product_box p {
  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;

  color: rgba(98, 105, 116, 1);
}

.spec_product_frame .small_top .content_right {
  padding: 39px 31px 24px 0;
}

.spec_product_frame .small_bottom {
  display: flex;
}

.spec_product_frame .small_bottom .content {
  width: 293px;
  height: 170px;
  margin-top: 28px;
  margin-left: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
}

.spec_product_frame .small_bottom .content .content_top {
  margin: 30px 0 0 35px;
}

.spec_product_frame .small_bottom .content .content_bottom {
  margin: 0 21px 15px 0;
  display: flex;
  justify-content: end;
}

/* TV PRODUCT */
.tv_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tv_frame .container .category_top a {
  margin-left: 20px;

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.tv_frame .container .category_top a:hover {
  border-bottom: 2px solid #041e42;
  font-weight: 500;
}

.tv_frame .container {
  flex-direction: column;
}

.tv_frame .tv_wrapper {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

/* .tv_frame .tv_wrapper .next_prev_box {
  width: 25px;
  cursor: pointer;
}

.tv_frame .container .next_prev_box img {
  position: absolute;
  top: 50%;
} */

.tv_frame .tv_product_boxs {
  position: relative;
  width: 1300px;
  height: 452px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv_frame .tv_product_boxs .product_box {
  width: 212px;
  height: 460px;
  margin: 10px;

  display: flex;
  flex-direction: column;
}

.tv_frame .tv_product_boxs .product_box .product_img {
  width: 212px;
  height: 50%;
  margin-bottom: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tv_frame .product_box .product_content {
  width: 222px;
  height: 50%;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tv_frame .product_box .product_content .product_title {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.tv_frame .product_box .product_content p {
  margin-top: 7px;
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  color: rgba(4, 30, 66, 1);
}

.tv_frame .product_box .review_box {
  margin-top: 10px;
}

.tv_frame .product_box .review_box img {
  margin-right: 2px;
}

.tv_frame .product_box .review_box span {
  margin-left: 10px;

  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(98, 105, 116, 1);
}

.tv_frame .product_box .price_box {
  margin-top: 10px;
}

.tv_frame .product_box .price_box strong {
  width: 60px;
  height: 26px;
  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;

  color: rgba(4, 30, 66, 1);
}

.tv_frame .product_box .price_box span {
  width: 25px;
  height: 22px;
  margin-left: 7px;
  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;

  color: rgba(98, 105, 116, 1);
}

/* event_frame */
.event_frame {
  width: 100%;
  height: 632px;
  margin-top: 60px;

  display: flex;
  justify-content: center;

  background: url(../images/icons/event_bg.png);
}

.event_frame .container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.event_info {
  width: 334px;
  height: 214px;
}

.event_info span {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}

.event_info .event_day {
  display: flex;
margin-top: 20px;
}

.event_info .event_day div {
  width: 60px;
  height: 60px;
  margin-right: 35px;

  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
}

.event_info .event_day div span {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.event_info a div{
  width: 141px;
  height: 52px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 6px;
background: rgba(255, 255, 255, 1);

color: rgba(4, 30, 66, 1);

font-family: "Jost";
font-style: Medium;
font-size: 15px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
}

.event_wrapper {
  width: 970px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event_boxs {
  width: 848px;
  height: 392px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.event_box {
  width: 205px;
  height: 392px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 15px;

  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}

.event_img_box {
  width: 100%;
  height: 190px;

  /* margin-top: 10px; */
}

.event_info_box {
  /* padding: 5px 20px; */
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-top: 20px;
}

.event_info_box .event_title {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.event_info_box a p {
  margin: 7px 0 13px;
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(4, 30, 66, 1);
}

.event_info_box .review_box span {
  margin-left: 8px;

  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(98, 105, 116, 1);
}

.event_info_box .price_box strong {
  margin-top: 13px;
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(4, 30, 66, 1);
}

.event_info_box .price_box span {
  margin-left: 10px;
  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
  color: rgba(98, 105, 116, 1);
}
