.home_page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.home_page .header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  position: relative;
  padding: 15px;
  width: 826px;
  height: 508px;
  background-color: rgba(0, 83, 246, 1);
  background-image: url(../images/icons/header_bg.svg);
  border-radius: 5px;
}
.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.header_frame .header_content span {
  margin-top: 10px;
  width: 405px;
  height: 152px;

  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 60px;
  font-weight: 500;
  line-height: 87px;
}

.header_frame .header_content p {
  margin-top: 10px;

  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
}
.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(255, 255, 255, 1);

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
  bottom: 55px;
}

.header_frame .container .header_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .header_right .header_box {
  margin-left: 25px;
  width: 400px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 5px;
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .box_left span {
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  color: #0053f6;
}

.header_frame .box_left p {
  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;

  color: #041e42;
}

.header_frame .box_left a {
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  color: #041e42;
}

.header_frame .box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 3px;

  background: #041e42;
}

.header_frame .header_box .box_right {
  width: 50%;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}

.header_frame .box_left .hover_borderr {
  margin-top: 3px;
  width: 120px;
  height: 3px;

  background: #041e42;
}

/* SERVISE */
.home_page .servise_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.servise_frame .container {
  flex-direction: row;
  justify-content:;
}

.servise_frame .container .servise_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #eaeaea;
}

.servise_frame .servise_box img {
  width: 35px;
  height: 35px;
}

.servise_frame .servise_box .servise_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.servise_frame .servise_content span {
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  color: #041e42;
}

.servise_frame .servise_content p {
  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  color: #626974;
}
